{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/sideBar.blocek.css') }}" rel="stylesheet">
    <link href="{{ asset('css/profile.blocek.css') }}" rel="stylesheet">
    <script type="application/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            let filter = loadFilterFromLocalStorage('{{ app.user.email }}');
            renderEventsFromURL(filter, "{{ path('events_data') }}");
            updateFilter(filter);
        });
    </script>
{% endblock %}

{% block body %}
    {{ include('Components/sidebar.blocek.html.twig') }}
    {{ include('Components/eventFilter.blocek.html.twig') }}
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="{{ path('main_controller') }}" class="navbar-brand d-flex align-items-center">
                    <img src="{{ asset('images/blocek_icon_white.png') }}" alt="" width="30" height="30" style="margin-right: 10px">
                    <strong>Bloček</strong>
                </a>
                {% if app.user %}
                    <a href="#" class="navbar-brand d-flex align-items-center">
                        <strong>{{ app.user.name ~ ' ' ~ app.user.surname }}</strong>
                    </a>
                {% endif %}
            </div>
        </div>

    </header>
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-2">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light display-5 fw-bold">Můj TODO list</h1>
                    <p class="lead text-muted">Seznam nedokončených událostí přiřazených k Vašemu profilu<p>
                        <a href="#" class="btn btn-primary my-2">Vyhledat událost</a>
                        <a href="{{ path('create_event') }}" class="btn btn-secondary my-2">Přidat událost</a>
                    </p>
                </div>
            </div>
        </section>
        <div class="album py-5 bg-light">
            <div id="events_container" class="container"></div>
        </div>
    </main>
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Zpět nahoru</a>
            </p>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/profile.blocek.js') }}"></script>
    <script src="{{ asset('js/eventFilter.blocek.js') }}"></script>
{% endblock %}