{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/side_bar.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {{ include('Components/sidebar.blocek.html.twig') }}
    {{ include('Components/eventFilter.blocek.html.twig') }}
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="{{ path('main_controller') }}" class="navbar-brand d-flex align-items-center">
                    <img src="{{ asset('images/blocek_icon_white.png') }}" alt="" width="30" height="30" style="margin-right: 10px">
                    <strong>Bloček | {{ app.user.name ~ ' ' ~ app.user.surname }}</strong>
                </a>
                {% if app.user %}
                    <a href="#" class="navbar-brand d-flex align-items-center">
                        <strong>TODO: change</strong>
                    </a>
                {% endif %}
            </div>
        </div>

    </header>
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-2">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light display-5 fw-bold">Můj TODO list</h1>
                    <p class="lead text-muted">Seznam nedokončených událostí přiřazených k Vašemu profilu<p>
                        <a href="#" class="btn btn-primary my-2">Vyhledat událost</a>
                        <a href="{{ path('create_event') }}" class="btn btn-secondary my-2">Přidat událost</a>
                    </p>
                </div>
            </div>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">
                {% if events is empty %}
                    <div class="px-4 py-5 my-5 text-center">
                        <h1 class="display-5 fw-bold text-danger">Nenalezeny žádné události</h1>
                    </div>
                {% else %}
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {% for event in events %}
                            {% include 'Components/todo.blocek.html.twig' with event %}
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        </div>
    </main>
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Zpět nahoru</a>
            </p>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        function completeEvent(href){
            document.location.href = href
        }
        function editEvent(href) {
            document.location.href = href
        }
        function askToDelete(href) {
            if (confirm('Opravdu chceš smazat event?')) {
                document.location.href = href
            }
        }
        function filterPanelSwitch() {
            if (document.getElementById('filter_panel').style.width === "280px"){
                document.getElementById('filter_panel').style.width = "40px";
                document.getElementById('filter_open').style.display = "none";
                document.getElementById('filter_close').style.display = "";
                document.getElementById('filter_content').style.display = "none";
            } else {
                document.getElementById('filter_panel').style.width = "280px";
                document.getElementById('filter_open').style.display = "";
                document.getElementById('filter_close').style.display = "none";
                document.getElementById('filter_content').style.display = "";
            }
        }
    </script>
{% endblock %}