{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="{{ path('main_controller') }}" class="navbar-brand d-flex align-items-center">
                    <img src="{{ asset('images/blocek_icon_white.png') }}" alt="" width="30" height="30" style="margin-right: 10px">
                    <strong>Bloček | {{ app.user.name ~ ' ' ~ app.user.surname }}</strong>
                </a>
                {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="navbar-brand d-flex align-items-center">
                        <strong>Odhlásit se</strong>
                    </a>
                {% endif %}
            </div>
        </div>
{#        FILER component #}
        <div class="nav-scroller bg-body shadow-sm">
            <nav class="nav nav-underline d-flex justify-content-center" aria-label="Secondary navigation">
                <a href="#" class="d-flex align-items-center text-dark text-decoration-none" style="margin: 5px">
                    <img src="{{ asset('images/filter.png') }}" width="15" height="15">
                </a>
                {{ form_start(filterForm) }}
                <ul class="nav nav-pills">
                    <li class="nav-item" style="margin-right: 10px">
                        {% if app.request.get('show_finished') == 1 %}
                            {{ form_widget(filterForm.show_finished, {'attr': {'class': 'form-check-input', 'style': 'vertical-align: middle', 'checked': 'true'}}) }}
                        {% else %}
                            {{ form_widget(filterForm.show_finished, {'attr': {'class': 'form-check-input', 'style': 'vertical-align: middle'}}) }}
                        {% endif %}
                        <label class="form-check-label" for="flexCheckDefault" style="vertical-align: middle">
                            Zobrazit dokončené
                        </label>
                    </li>
                    <li class="nav-item" style="margin-right: 10px">
                        {% if app.request.get('only_after_term') == 1 %}
                            {{ form_widget(filterForm.only_after_term, {'attr': {'class': 'form-check-input', 'style': 'vertical-align: middle', 'checked': 'true'}}) }}
                        {% else %}
                            {{ form_widget(filterForm.only_after_term, {'attr': {'class': 'form-check-input', 'style': 'vertical-align: middle'}}) }}
                        {% endif %}
                        <label class="form-check-label" for="flexCheckDefault" style="vertical-align: middle">
                            Pouze po termínu
                        </label>
                    </li>
                    <li class="nav-item" style="margin-right: 10px">
                        {% if app.request.get('only_before_term') == 1 %}
                            {{ form_widget(filterForm.only_before_term, {'attr': {'class': 'form-check-input', 'style': 'vertical-align: middle', 'checked': 'true'}}) }}
                        {% else %}
                            {{ form_widget(filterForm.only_before_term, {'attr': {'class': 'form-check-input', 'style': 'vertical-align: middle'}}) }}
                        {% endif %}
                        <label class="form-check-label" for="flexCheckDefault" style="vertical-align: middle">
                            Pouze před termínem
                        </label>
                    </li>
                    <li class="nav-item">
                        {% if app.request.get('show_main_page') == 1 %}
                            {{ form_widget(filterForm.show_main_page, {'attr': {'class': 'form-check-input', 'style': 'vertical-align: middle', 'checked': 'true'}}) }}
                        {% else %}
                            {{ form_widget(filterForm.show_main_page, {'attr': {'class': 'form-check-input', 'style': 'vertical-align: middle'}}) }}
                        {% endif %}
                        <label class="form-check-label" for="flexCheckDefault" style="vertical-align: middle" {% if 'ROLE_ADMIN' not in app.user.roles %}hidden{% endif %}>
                            Zobrazit články hlavní stránky
                        </label>
                    </li>
                    <li class="nav-item">
                        <div class="form-group" style="margin-left: 10px">
                            {{ form_widget(filterForm.sort) }}
                        </div>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary btn-sm" type="submit" style="margin-left: 10px">Filtrovat události</button>
                    </li>
                </ul>
                {{ form_end(filterForm) }}
            </nav>
        </div>

    </header>
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-2">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light display-5 fw-bold">Můj TODO list</h1>
                    <p class="lead text-muted">Seznam nedokončených událostí přiřazených k Vašemu profilu<p>
                        <a href="#" class="btn btn-primary my-2">Vyhledat událost</a>
                        <a href="{{ path('create_event') }}" class="btn btn-secondary my-2">Přidat událost</a>
                    </p>
                </div>
            </div>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">
                {% if events is empty %}
                    <div class="px-4 py-5 my-5 text-center">
                        <h1 class="display-5 fw-bold text-danger">Nenalezeny žádné události</h1>
                    </div>
                {% else %}
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {% for event in events %}
                            {% include 'Components/todo.blocek.html.twig' with event %}
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        </div>
    </main>
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Zpět nahoru</a>
            </p>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        function completeEvent(href){
            document.location.href = href
        }
        function editEvent(href) {
            document.location.href = href
        }
        function askToDelete(href) {
            if (confirm('Opravdu chceš smazat event?')) {
                document.location.href = href
            }
        }
    </script>
{% endblock %}