<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bloček | {{ subtitle }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="David Vancl" />
        <link rel="shortcut icon" href="{{ asset('images/icon.ico') }}">

        {% block stylesheets %} {% endblock %}

        <script src="{{ asset('js/base.blocek.js') }}"></script>
        <link href="{{ asset('css/base.blocek.css') }}" rel="stylesheet">
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    </head>
    <body>
        <div id="flashMessageField" class="flashMessageField">
            {% for message in app.flashes('error') %}
                <script type="text/javascript">
                    handleFlashMessage("alert alert-danger align-middle", "{{ message }}");
                </script>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <script type="text/javascript">
                    handleFlashMessage("alert alert-success align-middle", "{{ message }}");
                </script>
            {% endfor %}
        </div>
        {% block body %}{% endblock %}
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
